@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES */
:root {
  --color1: #EEEEEE;
  --color2: #1E2022;
  --color3: #FFD369;
  --black: #000000;
}


/* ELEMENT SELECTORS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  background-image: url("../images/brick-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

header {
  background-color: transparent;
  position: sticky;
  top: 0;
}

header,
footer {
  color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}


footer {
  background-image: linear-gradient(#00000000, var(--black) 60%);
}

footer a {
  color: var(--color1);
  position: relative;
  top: 20px;
  display: flex;
  gap: .5rem;
  align-items: center;
}


/* CLASS SELECTORS */

.header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;

}

.header ul li {
  position: relative;
}

.links {
  color: var(--color1);
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.links.active {
  color: var(--color3);
}

.links::after {
  content: "";
  position: absolute;
  background-color: var(--color3);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: 0.25s;
}

.links:hover::after {
  width: 100%;
}


.logo {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--color1);
  text-shadow: 2px 2px 2px var(--black);
  transition: .25s ease-in-out;
}

.hamburger,
.logo-hamburger{
  display: none;
  cursor: pointer;
}

.hamburger{
  position: relative;
  top: 3.5px;
}

.block{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color1);
}


.home-container {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.home-text {
  font-size: 3rem;
  color: #E8E8E8;

}

.home-text span {
  color: var(--color3);
  text-decoration: underline;
}

.home-btns {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: .5rem 1rem;
  background-color: var(--color2);
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 20px;
}

.book-btn,
.send-btn  {
  background-color: transparent;
  border: 2px solid var(--color3);
  color: var(--color3);
  transition: .5s;
}

.book-btn:hover,
.send-btn:hover{
  background-color: var(--color1);
  border: 2px solid var(--color2);
  color: var(--color2);
}

.view-btn{
  background-color: var(--color3);
  color: var(--color2);
  border: 2px solid var(--color3);
  transition: .5s;
}


.view-btn:hover {
  background-color: transparent;
  color: var(--color1);
  border: 2px solid var(--color1);
}

.home-container {
  justify-content: left;
  color: var(--color1);
  width: 525px;
  padding: 2rem;
  border-radius: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
}

.fire-overlay {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.burger {
  position: absolute;
  bottom: 0;
  right: 5%;
  -webkit-filter: drop-shadow(5px 20px 10px var(--black));
  filter: drop-shadow(5px 20px 10px var(--black));
}
.background-container{
  z-index: -1;
}

.background-container img {
  width: 450px;
}

.menu-container {
  width: fit-content;
  padding: 2rem;
  background-color: #00000099;
  border: 5px solid var(--color2);
  border-radius: 25px;

}

.menu-heading {
  color: var(--color3);
  padding-bottom: 2rem;
  ;
}

.burger-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.burger-container {
  color: var(--color1);
  display: flex;
  align-items: center;
}


.burger-price {
  color: var(--color3);
  padding-left: 1rem;
}


.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.carousel-heading {
  color: var(--color1);
  font-size: 2.25rem;
}


.image-container {
  overflow-x: hidden;
  max-width: 350px;
  margin: 0 auto;
}

.image-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
  grid-gap: 1.5rem;
  position: relative;
  left: 0;
  transition: .3s;
}

.image-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-name {
  color: var(--color1);
  text-shadow: 2px 2px 2px var(--black);
  top: 0;
}

.carousel-image {
  width: 100%;
  object-fit: cover;
  display: block;
  animation: inAndOut 1.5s infinite;
}

.about-container{
  color: var(--color1);
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #00000099;
  border: 5px solid var(--color2);
  border-radius: 25px;
  gap: 2rem;
}

.about-title{
  color:var(--color3);
  text-transform: uppercase;
}

.about-heading{
  padding-bottom: 1rem;
  color: var(--color3);
}

.about-text-container,
.about-paragraph{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-info-container{
  display: grid;
  width: 50%;
  grid-template-columns: repeat(auto-fit, minmax(300px, .75fr));
  grid-auto-rows: 200px;
  gap: 2rem;
  justify-content: center;
}

.address,
.telephone,
.email,
.opening-time{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: var(--color1);
  padding: 2rem;
  background-color: #00000099;
  border: 5px solid var(--color2);
  border-radius: 25px;
}


.address svg,
.telephone svg,
.email svg,
.opening-time svg{
  color: var(--color3);
  font-size: 2rem;
  position: relative;
  right: 40%;


}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: fit-content;
  gap: 1.5rem;
  color: var(--color1);
  padding: 2rem;
  background-color: #00000099;
  border: 5px solid var(--color2);
  border-radius: 25px;
}

.form-container h1{
  color: var(--color3);
}



.send-btn{
  width: 150px;
}


/* ID SELECTORS */

#content {
  display: grid;
  grid-template-rows: 100px auto 75px;
  height: 100%;
}

#home {
  padding-left: 10%;
  align-items: center;
  height: 100%;
  transition: padding 0.5s;
}

#menu {
  padding: 2rem 5rem 0;
  justify-content: center;
  gap: 2rem;
}

#about{
  padding: 2rem 5rem 0;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 100%;
  transition: padding 0.5s;
}

#contact{
  padding: 2rem 5rem 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

#customer-name,
#customer-email,
#customer-message{
  font-family: inherit;
  width: 80%;
  padding: .5rem 1rem;
  color: var(--color1);
  border: 2.5px solid var(--color2);
  background-color: var(--black);
  border-radius: 15px;
  resize: none;
}

#customer-name:focus,
#customer-email:focus,
#customer-message:focus{
  outline: 2.5px solid var(--color3);
}


#customer-message{
  height: 90px;
}

#home,
#menu,
#about,
#contact{
  animation: transitionIn 0.75s;
}

/* ANIMATIONS */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}


@keyframes inAndOut {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.05
  }
}


/* MEDIA QUERIES */


/* HAMBURGER NAVIGATION */
@media only screen and (max-width: 850px) {

  #home{
    padding: 1rem;
  }

  .logo-hamburger,
  .hamburger{
    display: block;
    transition: 0.5s;
  }

  .logo-link{
    display: flex;
  }


  .logo{
    font-size: 2.5rem;
  }

  .hamburger.active .block:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .block:nth-child(1){
    transform: translateY(8px) rotate(45deg)
  }

  .hamburger.active .block:nth-child(3){
    transform: translateY(-8px) rotate(-45deg)

  }

  .header{
    background-image: linear-gradient(var(--color2),#000000CC);
    justify-content: space-around;
    padding: 0 3rem;
    transition: 0.5s;
  }

  .header ul{
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #000000CC;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .header ul li:nth-child(3){
    display: none;
  }


  .header ul li{
    margin: 16px 0;
  }

  .header ul.active{
    left: 0;
  }

  .form-container{
    min-width: 300px;
  }
}


/* HOME PAGE */
@media only screen and (max-width:1125px){

  #home{
    background-image: linear-gradient(#00000000,#00000099 80%,#00000000);
  }
}

/* MENU PAGE */
@media only screen and (max-width:867px){

  #menu{
  flex-wrap: wrap-reverse;
  }
}

/* ABOUT PAGE */

@media only screen and (max-width:950px) {
  #about{
    padding: 1rem 2rem;
  }
  .about-container{
    width: 100%;
    text-align: center;
  }

}

/* Small Screen Fixes */
@media only screen and (max-width:405px) {
  .logo{
    font-size: 2rem;
  }
}

